input{    
    width: 100%;
    height: 52px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;    
}

input:focus{
    border-color: #5063d7;        
}

input + input{
    margin-top: 13px;
}