*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font:  16px sans-serif;    
    -webkit-font-smoothing: antialiased;
    background: #f0f0f5 url(../assets/previsao2.png) no-repeat 95% top;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

input, button{
    font: 18px sans-serif;
}

button{
    cursor: pointer;
}

.icon-link {
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #41414d;
    font-size: 16px;    
    text-decoration: none;
    font-weight: bold;
}

.icon-link:hover{
    text-decoration: underline;
}

.icon-link svg{
    margin-right: 8px;
}