.signup-container{
    width: 100%;
    max-width: 930px;
    height: 100vh;

    display: flex;    
    align-items: center;
    justify-content: center;
}

.signup-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
}

.signup-container .content section{
    width: 100%;
    max-width: 400px;
}

.signup-container .content section h1{
    margin: 64px 0 20px;
    font-size: 35px;
}

.signup-container .content form{
    width: 100%;
    max-width: 310px;
}

.signup-container .content form input{    
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}
.signup-container .content form input + input{
    margin-top: 14px;
}